.item_infor_container{
    padding: 1em .5em 1em .5em;
    border-bottom: solid #323835;
    background-color: #EFEFEF;
}

.item_infor_container h2 {
    display: inline;
    padding-bottom: 1em;
}

.dados {
    display: flex;
    justify-content: space-between; 
}

.dados_pessoais, .dados_endereco, .dados button{
    margin: 0;
}

.dados_pessoais span, .dados_endereco span {
    font-weight: bold;
}

.dados_pessoais p, .dados_endereco p {
    padding: .25em 0 .25em 0;
    color: #323835
}

.dados button {
    background-color: #323835;
    color: #DB995A;
    font-size: 0.9em;
    height: 40px;
    font-size: 1em;
    display: flex;
    align-items: center;
    padding: 1em;
    border: none;
    cursor: pointer;
}

.dados button:hover {
    background-color: #DB995A ;
    color: #323835;
}

.dados button svg {
    margin: 0 .5em 0 0;
}